body {
    background-color: black;
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
    color: white;
}

.name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 auto;
    color: white;
}

.top-page {
    
}