<!DOCTYPE html>

<html>


<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Warnes&display=swap" rel="stylesheet"> 

    <style>

        #title {
            font-family: 'Warnes', cursive;
            font-size: 50px;
            color: #fff;
            text-align: center;
            text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
        }

        body {
            background-image: url("https://www.maxpixel.net/static/photo/1x/Red-Curtain-Cinema-Background-Theater-Stripes-551797.jpg");
            background-color: #000;
            background-size: cover;
        }

        table {
            background-color: #000; 
            border: dashed 4px darkblue;
            padding: 5px;
        }

        tr {
            align: center;
        }

        img {
        width: 160px;
        height: auto;
        }

        .blink {
            animation-name: animation_blink;
            animation-timing-function: linear;
            animation-duration: 0.00001s; 
            animation-iteration-count: infinite;
            animation-delay: 5s;
        }

        @keyframes animation_blink {
            0% { opacity: 1; }
            50% { opacity: 0.1; }
            100% { opacity: 1; }    
        }

        header #title {
            width: 100%;
            height: 80px;
            background-color: #000000;
            position: fixed;
            top: 0;
            margin: -8px;
            top: 8px;
            font-family: 'Warnes', cursive;
            color: white;
            padding: 20px;
            margin-left: -25px;
/*             background-image: url(https://www.photohdx.com/images/2019/04/old-dark-brown-grung-wall-texture.jpg); */
        }

        footer {
            width: 100%;
            height: 45px;
            background-color: #000000;
            position: fixed;
            bottom: 0;
            margin: -8px;
            font-family: 'Warnes', cursive;
            color: rgb(138, 138, 138);
            padding: 20px;
            padding-left: 50px;
        }

        .text-under-table {
            width: 60%;
            text-align: center;
            color: white;
            text-indent:40px;
            text-align: justify;
            font-family: Georgia;
            padding-left: 300px;
        }

        nav {
            width: 200px;
            height: 615px;
            background-color: #000000;
            position: fixed;
            margin: -8px;
            font-family: 'Warnes', cursive;
            color: rgb(218, 218, 218);
            float: left;
            top: 128px;
            padding-right: 50px;
        }
  

        nav p {
            padding-left: 50px;
        }

        a {
            color: rgb(175, 255, 199);
            font-family: Century Gothic;
        }

        .homeLink-responsive {
            display: none;
        }

        @media screen and (max-width: 1200px) {
        nav {
            display: none;
        }
        .text-under-table {
            margin-left: -160px;
            width: 70%
        }
        table {
            margin-top: 10px;
            width: 800px;
            height: 800px;
        }
        img {
        width: 250px;
        height: auto;
        }
        .homeLink-responsive {
            display: block;
        }
        #title {
            font-size: 90px;
            margin-top: 10px;
        }
  }

    </style>

</head>

<body>

    

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <header>
    
<!-- headline -->
<h1 id="title">No<span class="blink" style="text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6">w </span>Showing</span></h1>

    </header>
    
    <nav>
        <br>
        
        <p>Movies</p>
        
            <ul style = list-style-type:circle>
    
                <li><a href=/movie1>Ghost In The Shell</a></li>
                <li><a href=/movie2>TRON</a></li>
                <li><a href=/movie3>Teenage Mutant Ninja Turtles</a></li>
                <li><a href=/movie4>The Predator</a></li>
                <li><a href=/movie5>Ghostbusters</a></li>
                <li><a href=/movie6>Alita</a></li>
    
            </ul>
            <br>
            <br>
            <br>
            <br>
            <a href="../webPages" class="homeLink">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;back to portfolio</a>

    </nav>

    <div class="homeLink-responsive">
        <a href="../webPages">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;back to portfolio</a>
    <br>
    <br>
    </div>
        
<!-- movie table -->
    <table align="center">


        <tr>
    
            <td><a href="/movie1"><img src="https://cdn.traileraddict.com/content/paramount-pictures/ghost-in-the-shell-poster-3.jpg" height="250" alt="Ghost in the Shell Poster"></td> 

            <td><a href="/movie2"><img src="https://fanart.tv/fanart/movies/20526/movieposter/tron-legacy-54ece4d613f67.jpg" height="250" alt="Tron Poster"></td>

            <td><a href="/movie3"><img src="https://www.owlkids.com/wp-content/uploads/2014/08/Teenage-Mutant-Ninja-Turtles-2014-Movie-Poster.jpg" height="250"</td>
           
        <tr>
            <td><a href="/movie4"><img src="https://gfx.videobuster.de/archive/v/c9u4PMmbD-I_8bl9snCkFxAcz0lMkawriUyRjA2JTJGaW1hmSUyRmpwZWclMkbtZro5ZrdkZMwyZmPZYmU5YbAyizhjY2QxLmpwZyZyPXfvOA/predator-upgrade-poster.jpg" alt="Tron Poster" height="250"</td>
           
            <td><a href="/movie5"><img src="https://static0.colliderimages.com/wordpress/wp-content/uploads/2015/12/ghostbusters-kate-mckinnon-poster.jpg" height="250"</td>

            <td><a href="/movie6"><img src="https://fanart.tv/fanart/movies/399579/movieposter/alita-battle-angel-5d203487a6741.jpg" height="250"</td>

        </tr>

        </tr>
    </table>
<!-- movie table end-->


<!-- start text under table-->

<br>

<div class="text-under-table"><h3>Welcome to our little Cinema! Look at the fantastic movies we play here. They are all selected to highly enterlain you. We also serve cold drinks and snacks. There should be nothing missing for our guests. So come on in and enter new worlds. You can also call us: 040/123456</h3>
    <p> 
      <ul>
          <li style = list-style-type:none>Price:</li>
          <br>
          <li style = list-style-type:none>Adults &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 10 EUR</li>
          <li style = list-style-type:none>Children &nbsp;&nbsp; 5 EUR</li>
      </ul>
    </p>

<p><strong>Cinematography</strong> is the illusion of movement by the recording and subsequent rapid projection of many still photographic pictures on a screen. Originally a product of 19th-century scientific endeavour, cinema has become a medium of mass entertainment and communication, and today it is a multi-billion-pound industry. No one person invented cinema. However, in 1891 the Edison Company successfully demonstrated a prototype of the Kinetoscope, which enabled one person at a time to view moving pictures.

    The first public Kinetoscope demonstration took place in 1893. By 1894 the Kinetoscope was a commercial success, with public parlours established around the world.
    
    The first to present projected moving pictures to a paying audience were the Lumière brothers in December 1895 in Paris, France. They used a device of their own making, the Cinématographe, which was a camera, a projector and a film printer all in one.</p>

    <p><strong>The rise of the film industry</strong>

        By 1914, several national film industries were established. At this time, Europe, Russia and Scandinavia were the dominant industries; America was much less important. Films became longer and storytelling, or narrative, became the dominant form.
        
        As more people paid to see movies, the industry which grew around them was prepared to invest more money in their production, distribution and exhibition, so large studios were established and dedicated cinemas built. The First World War greatly affected the film industry in Europe, and the American industry grew in relative importance.
        
        The first 30 years of cinema were characterised by the growth and consolidation of an industrial base, the establishment of the narrative form, and refinement of technology.
    </p>

        <p><strong>Adding colour</strong>
        
        Colour was first added to black-and-white movies through hand colouring, tinting, toning and stencilling.
        
        By 1906, the principles of colour separation were used to produce so-called ‘natural colour’ moving images with the British Kinemacolor process, first presented to the public in 1909.
        
        Kinemacolor was primarily used for documentary (or ‘actuality’) films, such as the epic With Our King and Queen Through India (also known as The Delhi Durbar) of 1912, which ran for over 2 hours in total.
        
        The early Technicolor processes from 1915 onwards were cumbersome and expensive, and colour was not used more widely until the introduction of its three‑colour process in 1932. It was used for films such as Gone With the Wind and The Wizard of Oz (both 1939) in Hollywood and A Matter of Life and Death (1946) in the UK.</p>

</div>

    <br>
    <br>
    <br>
    <br>
    <br>




<footer>© 지기</footer>

</body>

</html>