<!DOCTYPE html>
<html>

<head>

    <style>

        #title {
            font-family: Segoe Script;
            font-size: 50px;
            color: #fff;
            text-align: center;
            text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #00e63a, 0 0 20px #00e63a, 0 0 25px #00e63a, 0 0 30px #00e63a, 0 0 35px #00e64d;
        }

        body {
            background-color: #000;
            background-image: url("https://i0.wp.com/andy-engel.com/wp-content/uploads/2016/01/Hintergrund-Ornamente-Andy-Homepage.jpg?ssl=1");
        }

        iframe {
            border: dashed 4px darkblue;
            margin-left: 50px;
        }

        td {
            vertical-align: top;
        }

        p {
            color: rgb(199, 199, 199);
            font-family: Georgia;
            font-size: 20px;
            text-indent:40px;
            text-align: justify;
            margin-right: 50px;
        }

        table {
            border: 20px;
            border-spacing: 30px;
        }

        a {
            color: rgb(175, 255, 199);
            font-family: Century Gothic;
        }

        ul {
            color:rgb(131, 131, 131);
            font-size: 15px;
            font-family: Georgia;
        }

        .back {
            margin-left: 100px;
        }

    </style>

</head>

<body>
    <h2 id="title"><em>Ghostbusters</em> (2016)</h2>

    <a class="back" href="index.html"><-----get back</a> 

<table>

    <td>
        <br>
        <iframe src="https://player.vimeo.com/video/167274867" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    
        <br>
        <br>
        <br>
        <a class="back" href="https://www.imdb.com/title/tt1289401/?ref_=fn_al_tt_2">Site IMDB</a>
    
    </td>

    <td><p>Physicists Abby and Erin are authors of a research book which posits the existence of paranormal phenomena. While Abby continued to study the paranormal at a technical college, Erin, now a professor at Columbia University, disowned the work, fearing it might jeopardize her tenure. When Abby republishes the book, Erin convinces her to agree to remove the book from publication in exchange for helping Abby and Jillian in a paranormal investigation.</p>
        
    <p>They witness a malevolent ghost, restoring Erin's belief in the paranormal, but video footage of the investigation is posted online, and Erin is fired by the university. She joins Abby and Jillian to set up new offices above a Chinese restaurant, calling themselves "Conductors of the Metaphysical Examination". They build equipment to study and capture ghosts, and hire the dimwitted but handsome Kevin Beckman as a receptionist.</p>

    <br>

        <ul>
            <li><a href="https://www.imdb.com/title/tt1289401/?ref_=fn_al_tt_2">Melissa McCarthy</a></li>
            <li><a href="https://www.imdb.com/title/tt1289401/?ref_=fn_al_tt_2">Kristen Wiig</a></li>
            <li><a href="https://www.imdb.com/title/tt1289401/?ref_=fn_al_tt_2">Kate McKinnon</a></li>
            <li><a href="https://www.imdb.com/title/tt1289401/?ref_=fn_al_tt_2">Leslie Jones</a></li>
        </ul>


    </td>

</table>


</body>

</html>