<!DOCTYPE html>
<html>

<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Warnes&display=swap" rel="stylesheet"> 

    <style>

        #title {
            font-family: 'Warnes', cursive;
            font-size: 50px;
            color: #fff;
            text-align: center;
            text-shadow: 0 0 5px #fff, 0 0 10px rgb(131, 131, 131), 0 0 15px #b8b8b8, 0 0 20px #d4d4d4, 0 0 25px #cacaca, 0 0 30px #bebebe, 0 0 35px #9c9c9c;
        }

        body {
            background-color: #000;
            background-image: url("https://i0.wp.com/andy-engel.com/wp-content/uploads/2016/01/Hintergrund-Ornamente-Andy-Homepage.jpg?ssl=1");
        }

        iframe {
            border: dashed 4px darkblue;
            margin-left: 50px; 
        }

        td {
            vertical-align: top;
        }

        .text-under-video {
            color: rgb(199, 199, 199);
            font-family: Georgia;
            font-size: 20px;
            text-indent:40px;
            text-align: justify;
            margin-right: 50px;
            margin-left: 0px;
        }

        table {
            border: 20px;
            border-spacing: 30px;
        }

        a {
            color: rgb(175, 255, 199);
            font-family: Century Gothic;
        }

        ul {
            color:rgb(131, 131, 131);
            font-size: 15px;
            font-family: Georgia;
        }

        .back {
            margin-left: 100px;
        }

        .text-under-video-responsive {
            color: rgb(199, 199, 199);
            display: none;
        }

        @media screen and (max-width: 1200px) {
            .text-under-video {
                display: none;
            }
            a {
                font-size: 30px;
            }
            iframe {
                border: dashed 4px darkblue;
                margin-left: 130px; 
            }
            
            .paragraph {
                color: rgb(199, 199, 199);
                font-size: 30px;
                margin-left: 80px;
                margin-right: 80px;
                text-indent:40px;
                text-align: justify;
            }
            .paragraph-bottom {
                margin-left: 80px;
                margin-right: 80px;
                margin-bottom: 30px;
            }
        }

    </style>

</head>

<body>
    <h2 id="title"><em>Alita: Battle Angel</em> (2019)</h2>
    <a class="back" href="/movies"><-----get back</a> 

<table>

    <td>
        <br>
        
        <iframe src="https://player.vimeo.com/video/301059853?color=ffffff&title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

        <br>
        <br>
        <br>
        <a class="back" href="https://www.imdb.com/title/tt0437086/?ref_=fn_al_tt_2">Site IMDB</a>
        
        <td>

            <td class="text-under-video"><p>In 2563, 300 years after Earth was devastated by a catastrophic war, scientist Dr. Dyson Ido discovers a disembodied female cyborg with an intact human brain while scavenging for parts in the massive scrapyard of Iron City. Ido attaches a new cyborg body to the brain and names her "Alita" after his deceased daughter.</p>
        
        <p>Alita awakens with no memory of her past and quickly befriends Hugo, a young man who dreams of moving to the wealthy sky city of Zalem. </p> 
        
        <p>One night, Alita follows Ido; they are ambushed by a gang of cyborg serial killers. Ido is injured, and Alita instinctively fights using "Panzer-Kunst", a lost combat art for machine bodies. Alita believes that fighting will help her rediscover her past.</p>

    <br>

        <ul>
            <li><a href="https://www.imdb.com/title/tt0437086/?ref_=fn_al_tt_2">Rosa Salazar</a></li>
            <li><a href="https://www.imdb.com/title/tt0437086/?ref_=fn_al_tt_2">Christoph Waltz</a></li>
            <li><a href="https://www.imdb.com/title/tt0437086/?ref_=fn_al_tt_2">Jennifer Connelly</a></li>
            <li><a href="https://www.imdb.com/title/tt0437086/?ref_=fn_al_tt_2">Mahershala Ali</a></li>
        </ul>

    </td>

</table>

<td class="text-under-video-responsive"><p class="paragraph">In 2563, 300 years after Earth was devastated by a catastrophic war, scientist Dr. Dyson Ido discovers a disembodied female cyborg with an intact human brain while scavenging for parts in the massive scrapyard of Iron City. Ido attaches a new cyborg body to the brain and names her "Alita" after his deceased daughter.</p>
        
    <p class="paragraph">Alita awakens with no memory of her past and quickly befriends Hugo, a young man who dreams of moving to the wealthy sky city of Zalem. </p> 
    
    <p class="paragraph">One night, Alita follows Ido; they are ambushed by a gang of cyborg serial killers. Ido is injured, and Alita instinctively fights using "Panzer-Kunst", a lost combat art for machine bodies. Alita believes that fighting will help her rediscover her past.</p>

<br>

    <ul class="paragraph-bottom">
        <li><a href="https://www.imdb.com/title/tt0437086/?ref_=fn_al_tt_2">Rosa Salazar</a></li>
        <li><a href="https://www.imdb.com/title/tt0437086/?ref_=fn_al_tt_2">Christoph Waltz</a></li>
        <li><a href="https://www.imdb.com/title/tt0437086/?ref_=fn_al_tt_2">Jennifer Connelly</a></li>
        <li><a href="https://www.imdb.com/title/tt0437086/?ref_=fn_al_tt_2">Mahershala Ali</a></li>
    </ul>

</td>

    <br>
    <br>
    <br>
    <br>
    <br>

</body>

</html>