<!DOCTYPE html>
<html>

<head>

    <style>

        #title {
            font-family: Segoe Script;
            font-size: 50px;
            color: #fff;
            text-align: center;
            text-shadow: 0 0 5px #fff, 0 0 10px rgb(255, 255, 255), 0 0 15px #eb9800, 0 0 20px #ff9900, 0 0 25px #fd950c, 0 0 30px #be7017, 0 0 35px #815400;
        }

        body {
            background-color: #000;
            background-image: url("https://i0.wp.com/andy-engel.com/wp-content/uploads/2016/01/Hintergrund-Ornamente-Andy-Homepage.jpg?ssl=1");
        }

        iframe {
            border: dashed 4px darkblue;
            margin-left: 50px;
        }

        td {
            vertical-align: top;
        }

        p {
            color: rgb(199, 199, 199);
            font-family: Georgia;
            font-size: 20px;
            text-indent:40px;
            text-align: justify;
            margin-right: 50px;
        }

        table {
            border: 20px;
            border-spacing: 30px;
        }

        a {
            color: rgb(175, 255, 199);
            font-family: Century Gothic;
        }

        ul {
            color:rgb(131, 131, 131);
            font-size: 15px;
            font-family: Georgia;
        }

        .back {
            margin-left: 100px;
        }

    </style>

</head>

<body>

    <h2 id="title"><em>The Predator</em> (2018)</h2>

    <a class="back" href="/movies"><-----get back</a> 
    
<table>

    <td>
        <br>
        <iframe src="https://player.vimeo.com/video/298715121" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    
        <br>
        <br>
        <br>
        <a class="back" href="https://www.imdb.com/title/tt3829266/?ref_=fn_al_tt_1">Site IMDB</a>
    
    </td>

<td><p>
    A Predator ship crash-lands on Earth. U.S. Army Ranger sniper Quinn McKenna and his team are attacked by the Predator while on a hostage retrieval mission. McKenna incapacitates the Predator and has parts of its armor sent off by mail to prove the existence of extraterrestrial life. At the behest of government agent Will Traeger, McKenna is captured and held for examination.</p> 
    
    <p>Traeger also takes the Predator to a lab for experimentation and observation, recruiting evolutionary biologist Casey Bracket to study it. Bracket discovers that the Predator contains human DNA as part of his genetic makeup and her primary task is to discover how. The Predator awakes, breaks out of its restraints and kills both the lab workers and armed guards, but spares Bracket, the only unarmed person, before escaping.</p>
    

    <br>

        <ul>
            <li><a href="https://www.imdb.com/title/tt3829266/?ref_=fn_al_tt_1">Boyd Holbrook</a></li>
            <li><a href="https://www.imdb.com/title/tt3829266/?ref_=fn_al_tt_1">Trevante Rhodes</a</li>
            <li><a href="https://www.imdb.com/title/tt3829266/?ref_=fn_al_tt_1">Jacob Tremblay</a></li>
            <li><a href="https://www.imdb.com/title/tt3829266/?ref_=fn_al_tt_1">Olivia Munn</a></li>
        </ul>

        </td>

</table>


</body>

</html>