<!DOCTYPE html>
<html>

<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Warnes&display=swap" rel="stylesheet"> 

    <style>

        #title {
            font-family: 'Warnes', cursive;
            font-size: 50px;
            color: #fff;
            text-align: center;
            text-shadow: 0 0 5px #fff, 0 0 10px rgb(131, 131, 131), 0 0 15px #b8b8b8, 0 0 20px #d4d4d4, 0 0 25px #cacaca, 0 0 30px #bebebe, 0 0 35px #9c9c9c;
        }

        body {
            background-color: #000;
            background-image: url("https://i0.wp.com/andy-engel.com/wp-content/uploads/2016/01/Hintergrund-Ornamente-Andy-Homepage.jpg?ssl=1");
        }

        iframe {
            border: dashed 4px darkblue;
            margin-left: 50px; 
        }

        td {
            vertical-align: top;
        }

        .text-under-video {
            color: rgb(199, 199, 199);
            font-family: Georgia;
            font-size: 20px;
            text-indent:40px;
            text-align: justify;
            margin-right: 50px;
            margin-left: 0px;
        }

        table {
            border: 20px;
            border-spacing: 30px;
        }

        a {
            color: rgb(175, 255, 199);
            font-family: Century Gothic;
        }

        ul {
            color:rgb(131, 131, 131);
            font-size: 15px;
            font-family: Georgia;
        }

        .back {
            margin-left: 100px;
        }

        .text-under-video-responsive {
            color: rgb(199, 199, 199);
            display: none;
        }

        @media screen and (max-width: 1200px) {
            .text-under-video {
                display: none;
            }
            a {
                font-size: 30px;
            }
            iframe {
                border: dashed 4px darkblue;
                margin-left: 130px; 
            }
            .text-under-video-responsive {
                color: rgb(199, 199, 199);
                display: flex;
                margin-left: 20px;
            }
            .paragraph {
                color: rgb(199, 199, 199);
                font-size: 30px;
                margin-left: 80px;
                margin-right: 80px;
            }
        }

    </style>

</head>

<body>
    <h2 id="title"><em>Tron: Legacy</em>(2010)</h2>

    <a class="back" href="/movies"><-----get back</a> 

<table>

    <td>
        <br>
        <iframe src="https://player.vimeo.com/video/70546783" width="640" height="267" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    
        <br>
        <br>
        <br>
        <a class="back" href="https://www.imdb.com/title/tt1104001/?ref_=fn_al_tt_1">Site IMDB</a>

    </td>

    <td class="text-under-video"><p>In 1989, Kevin Flynn, who was promoted to CEO of ENCOM International at the end of the first film, disappears. Twenty years later, his son Sam, now ENCOM's primary shareholder, pranks the corporation by releasing the company's signature operating system online for free. ENCOM executive Alan Bradley, Flynn's old friend, approves of this, believing it aligns with Kevin's ideals of open software. Nonetheless, Sam is arrested for trespassing.</p>

<p>Alan posts bail for Sam and tells him of a pager message originating from Flynn's shuttered video arcade. There Sam discovers a hidden basement with a large computer and laser, which suddenly digitizes and downloads him into the Grid, a virtual reality created by Flynn. He is captured and sent to "the Games", where he must fight a masked program named Rinzler.</p>

<br>

        <ul>
            <li><a href="https://www.imdb.com/title/tt1104001/?ref_=fn_al_tt_1">Jeff Bridges</a></li>
            <li><a href="https://www.imdb.com/title/tt1104001/?ref_=fn_al_tt_1">Garrett Hedlund</a></li>
            <li><a href="https://www.imdb.com/title/tt1104001/?ref_=fn_al_tt_1">Olivia Wilde</a></li>
            <li><a href="https://www.imdb.com/title/tt1104001/?ref_=fn_al_tt_1">Bruce Boxleitner</a></li>
        </ul>


    </td>

</table>

<td class="text-under-video-responsive"><p class="paragraph">In 1989, Kevin Flynn, who was promoted to CEO of ENCOM International at the end of the first film, disappears. Twenty years later, his son Sam, now ENCOM's primary shareholder, pranks the corporation by releasing the company's signature operating system online for free. ENCOM executive Alan Bradley, Flynn's old friend, approves of this, believing it aligns with Kevin's ideals of open software. Nonetheless, Sam is arrested for trespassing.</p>

    <p class="paragraph">Alan posts bail for Sam and tells him of a pager message originating from Flynn's shuttered video arcade. There Sam discovers a hidden basement with a large computer and laser, which suddenly digitizes and downloads him into the Grid, a virtual reality created by Flynn. He is captured and sent to "the Games", where he must fight a masked program named Rinzler.</p>
    
    <br>
    
            <ul class="paragraph">
                <li><a href="https://www.imdb.com/title/tt1104001/?ref_=fn_al_tt_1">Jeff Bridges</a></li>
                <li><a href="https://www.imdb.com/title/tt1104001/?ref_=fn_al_tt_1">Garrett Hedlund</a></li>
                <li><a href="https://www.imdb.com/title/tt1104001/?ref_=fn_al_tt_1">Olivia Wilde</a></li>
                <li><a href="https://www.imdb.com/title/tt1104001/?ref_=fn_al_tt_1">Bruce Boxleitner</a></li>
            </ul>
    
    
        </td>

</body>

</html>