<!DOCTYPE html>
<html>

<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Warnes&display=swap" rel="stylesheet"> 

    <style>

        #title {
            font-family: 'Warnes', cursive;
            font-size: 50px;
            color: #fff;
            text-align: center;
            text-shadow: 0 0 5px #fff, 0 0 10px rgb(131, 131, 131), 0 0 15px #b8b8b8, 0 0 20px #d4d4d4, 0 0 25px #cacaca, 0 0 30px #bebebe, 0 0 35px #9c9c9c;
        }

        body {
            background-color: #000;
            background-image: url("https://i0.wp.com/andy-engel.com/wp-content/uploads/2016/01/Hintergrund-Ornamente-Andy-Homepage.jpg?ssl=1");
        }

        iframe {
            border: dashed 4px darkblue;
            margin-left: 50px; 
        }

        td {
            vertical-align: top;
        }

        .text-under-video {
            color: rgb(199, 199, 199);
            font-family: Georgia;
            font-size: 20px;
            text-indent:40px;
            text-align: justify;
            margin-right: 50px;
            margin-left: 0px;
        }

        table {
            border: 20px;
            border-spacing: 30px;
        }

        a {
            color: rgb(175, 255, 199);
            font-family: Century Gothic;
        }

        ul {
            color:rgb(131, 131, 131);
            font-size: 15px;
            font-family: Georgia;
        }

        .back {
            margin-left: 100px;
        }

        .text-under-video-responsive {
            color: rgb(199, 199, 199);
            display: none;
        }

        @media screen and (max-width: 1200px) {
            .text-under-video {
                display: none;
            }
            a {
                font-size: 30px;
            }
            iframe {
                border: dashed 4px darkblue;
                margin-left: 130px; 
            }
            .text-under-video-responsive {
                color: rgb(199, 199, 199);
                display: flex;
                margin-left: 20px;
            }
            .paragraph {
                color: rgb(199, 199, 199);
                font-size: 30px;
                margin-left: 80px;
                margin-right: 80px;
            }
        }

    </style>

</head>

<body>

    <h2 id="title" ><em>Ghost in the Shell</em> (2017)</h2>

    <a class="back" href="/movies"><-----get back</a> 

<table>
<tr>
    <td>

        <br>

        <iframe src="https://player.vimeo.com/video/291730800?title=0&byline=0&portrait=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

        <br>
        <br>
        <br>
        <a class="back" href="https://www.imdb.com/title/tt1219827/?ref_=fn_al_tt_1">Site IMDB</a>
    
    </td>

    <td class="text-under-video">

        <p>In the near future, humans are augmented with cybernetic improvements to traits such as vision, strength, and intelligence. Augmentation developer Hanka Robotics establishes a secret project to develop an artificial body, or "shell", that can integrate a human brain rather than an AI.</p>
            
        <p>Mira Killian, the sole survivor of a cyberterrorist attack which killed her parents, is chosen as the test subject after her body is damaged beyond repair. Over the objections of her designer Dr. Ouelet, Hanka Robotics CEO, Cutter, decides to use Killian as a counter-terrorism operative.</p>

<br>

        <ul>
            <li><a href="https://www.imdb.com/title/tt1219827/?ref_=fn_al_tt_1">Scarlett Johansson</a></li>
            <li><a href="https://www.imdb.com/title/tt1219827/?ref_=fn_al_tt_1">Pilou Asbaek</a></li>
            <li><a href="https://www.imdb.com/title/tt1219827/?ref_=fn_al_tt_1">Takeshi Kitano</a></li>
            <li><a href="https://www.imdb.com/title/tt1219827/?ref_=fn_al_tt_1">Juliette Binoche</a></li>
        </ul>


    </td>

</tr>

<td>

</td>

</table>

<p class="text-under-video-responsive">

    <p class="paragraph">In the near future, humans are augmented with cybernetic improvements to traits such as vision, strength, and intelligence. Augmentation developer Hanka Robotics establishes a secret project to develop an artificial body, or "shell", that can integrate a human brain rather than an AI.</p>
        
    <p class="paragraph">Mira Killian, the sole survivor of a cyberterrorist attack which killed her parents, is chosen as the test subject after her body is damaged beyond repair. Over the objections of her designer Dr. Ouelet, Hanka Robotics CEO, Cutter, decides to use Killian as a counter-terrorism operative.</p>

<br>

    <ul class="paragraph">
        <li><a href="https://www.imdb.com/title/tt1219827/?ref_=fn_al_tt_1">Scarlett Johansson</a></li>
        <li><a href="https://www.imdb.com/title/tt1219827/?ref_=fn_al_tt_1">Pilou Asbaek</a></li>
        <li><a href="https://www.imdb.com/title/tt1219827/?ref_=fn_al_tt_1">Takeshi Kitano</a></li>
        <li><a href="https://www.imdb.com/title/tt1219827/?ref_=fn_al_tt_1">Juliette Binoche</a></li>
    </ul>

    <br>
    <br>
    <br>
    <br>
    <br>

</p>



</body>

</html>