<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <div class="top-page">

        <div>

            <h1 class="name">
                <img class="spider" src="../images/spider.png" alt="spider">
                Siegfried Hamm 
                <br>
                <p class="jobtitle"> Web Developer</p>
                <br>
                
            </h1>
            
        </div>
  
                <ul class="menulist">
                    <li><a href="/works"><h2 class="works">works</h2></a></li>
                    <li><a href="/pictures"><h2 class="picture">picture</h2></a></li>
                    <li><a href="/contact"><h2 class="contact">contact</h2></a></li>
                </ul>            
            
    </div>



    <br>
    <br>
    <br>
    
</body>
</html>