<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web Dev - Siegfried Hamm</title>

    <link rel="stylesheet" href="style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap" rel="stylesheet">  
    <link rel="icon" type="image/x-icon" href="/images/red_square.png">

</head>
<body>
    
    <div class="top-page">

        <div>

            <h1 class="name">
                <!-- <img class="spider" src="images/spider.png" alt="spider"> -->
                Siegfried Hamm
                <br>
                <p class="jobtitle"> Web Developer and Designer</p>
                <br>
                <img class="spider" src="images/spider_web.png" alt="spider">
            </h1>
            
        </div>
  
                <ul class="menulist">
                    <li><a href="/webPages"><h2 class="works">web-pages</h2></a></li>
                    <li><a href="/pictures"><h2 class="picture">pictures</h2></a></li>
                </ul>            

                <img class="logos" src="images\logos.png" alt="html css js logos">
                <img class="vue-logo" src="images\vue-logo.png" alt="vue logo">

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p id="demo"></p>
            
                <img class="selfportrait" src="images\p1.png" alt="self-portrait by siggi">

    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <p class="selfdescription">&nbsp;&nbsp;&nbsp;Hello! I am Siegfried, I am a Web-Developer and I offer 
        individual and artistic solutions for your projects. <strong style="color:red">Feel the magic.</strong> 
        Please contact me: <a style="color: #a4a4ff" href="mailto: smiley.face@gmx.de">smiley.face@gmx.de</a></p>
</body>
</html>

<script>
    setInterval(myTimer, 1000);
    function myTimer () {
    var today = new Date();
    var date = today.getDate()+'.'+(today.getMonth()+1)+'.'+today.getFullYear();
    var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
    var dateTime = date+' '+time;

    document.getElementById("demo").innerHTML = dateTime;
    }
</script>
