<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Road+Rage&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="top-page">

        <div>

            <h1 class="name">
                <img class="spider" src="images/spider.png" alt="spider">
                Siegfried Hamm 
                <br>
                <p class="jobtitle"> Web Developer</p>
                <br>
                
            </h1>
            
        </div>
  
                <ul class="menulist">
                    <li><a href="/webPages"><h2 class="works">web-pages</h2></a></li>
                    <li><a href="/pictures"><h2 class="picture">pictures</h2></a></li>
                    <li><a href="/contact"><h2 class="contact">contact</h2></a></li>
                    <li><a href="/about"><h2 class="contact">about</h2></a></li>
                </ul>            
            
    </div>

    <br>
    <br>
    <br>
    
</body>
</html>