<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <a href="/" class="homeLink">home</a>
    <a href="/mondrian" class="mondrianLink about">Virtual Mondrian</a>
    <a href="/comic1" class="mondrianLink about">comic1</a>
    <a href="/comic2" class="mondrianLink about">comic2</a>
    <a href="/comic3" class="mondrianLink about">comic3</a>
</body>
</html>