<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    
</head>
<body class="picturePage">
    <li><a href="/" class="homeLink">home</a></li>
    <ul>
        <li><a href="/mondrian" class="mondrianLink about">Virtual Mondrian</a></li>
    </ul>
    <ul>
        <li><a href="/comic1" class="mondrianLink about">comic1</a></li>
        <li><a href="/comic2" class="mondrianLink about">comic2</a></li>
        <li><a href="/comic3" class="mondrianLink about">comic3</a></li>
        <li><a href="/anni" class="mondrianLink about">anni</a></li>
    </ul>
    <ul>
        <li><a href="/uni1" class="mondrianLink about">uni1</a></li>
        <li><a href="/uni2" class="mondrianLink about">uni2</a></li>
    </ul>
    <ul>
        <li><a href="/auto" class="mondrianLink about">auto</a></li>
        <li><a href="/frog" class="mondrianLink about">frog</a></li>
        <li><a href="/room" class="mondrianLink about">room</a></li>
        <li><a href="/ice" class="mondrianLink about">iceskating</a></li>
        <li><a href="/chemicals" class="mondrianLink about">chemicals</a></li>
    </ul>
    <ul>
        <li><a href="/t" class="mondrianLink about">street</a></li>
        <li><a href="/Linda" class="mondrianLink about">Linda Perry</a></li>
    </ul>
    <ul>
        <li><a href="/spaceship" class="mondrianLink about">spaceship</a></li>
    </ul>
    
</body>
</html>

<style>	
.picturePage {
    font-size: 20px;
}
body {
    background-color: black;
    background-color: rgb(46, 27, 59);
    background-image: url("/images/cobweb_blue.png");
}
.homeLink {
    color: red;
    font-size: 20px;
    padding: 20px;
    display: flex;
}
a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: gray;
    text-decoration: none;
}
.mondrianLink {
    font-size: 30px;
    padding: 5px;
    margin-left: 10px;
    display: flex;
    transition: 0.3s;
}
.mondrianLink:hover {
    color: rgb(104, 230, 125);
}

ul {
    display: flex;
    list-style: none;
}
</style>