<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    
</head>
<body class="picturePage">
    <a href="/" class="homeLink">home</a>
    <a href="/mondrian" class="mondrianLink about">Virtual Mondrian</a>
    <a href="/comic1" class="mondrianLink about">comic1</a>
    <a href="/comic2" class="mondrianLink about">comic2</a>
    <a href="/comic3" class="mondrianLink about">comic3</a>
    <a href="/auto" class="mondrianLink about">auto</a>
    <a href="/uni1" class="mondrianLink about">uni1</a>
    <a href="/uni2" class="mondrianLink about">uni2</a>
</body>
</html>

<style>	
.picturePage {
    font-size: 20px;
}
body {
    background-color: black;
    background-color: rgb(46, 27, 59);
    background-image: url("/images/cobweb_blue.png");
}
.homeLink {
    color: red;
    font-size: 20px;
    padding: 20px;
    display: flex;
}
a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: gray;
    text-decoration: none;
}
.mondrianLink {
    font-size: 30px;
    padding: 5px;
    margin-left: 10px;
    display: flex;
    transition: 0.3s;
}
.mondrianLink:hover {
    color: rgb(104, 230, 125);
}
</style>