<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>
    <a href="/" class="homeLink">home</a>

    

    <div class="worksText">
        <h2>&nbsp;&nbsp;&nbsp;&nbsp;list of my web-pages:</h2>
        <ul class="worklist">
            <a class="worklist" href="/movies" class="homeLink">Movie Page</a>
            <br>
            <br>
            <a class="worklist" href="https://kind-davinci-ca9573.netlify.app/" class="link">The Wonderful Travel Blog&nbsp;&nbsp;&nbsp;*</a>
            <br>
            <br>
            <a class="worklist" href="https://reverent-hawking-70f389.netlify.app/" class="link">Pokédex&nbsp;&nbsp;&nbsp;*</a>
            <br>
            <br>
            <p class="footnotes">* = with backend</p>
        </ul>
    </div>
</body>
</html>