body {
    background-color: black;
    background-color: rgb(46, 27, 59);
    background-image: url("/images/cobweb_blue.png");
}

a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: gray;
    text-decoration: none;
}

.worklist {
    color: white;
}

.footnotes {
    font-size: 14px;
    color: rgb(24, 253, 112);
}

h1 {
    color: rgb(255, 255, 255);
}

h2 {
    color: rgb(153, 153, 153);  
}

.homeLink {
    color: red;
    font-size: 20px;
    padding: 20px;
    display: flex;
}

.mondrianLink {
    font-size: 30px;
    padding: 20px;
    margin-top: 10px;
    display: flex;
}

.top-page {
    display: flex;
    color: white;
    height: 100px;
    display: flex;
}

.works {
    transition: 0.3s;
}

.works:hover {
    color: rgb(104, 104, 230);
}

.contact {
    transition: 0.3s;
}

.contact:hover {
    color: coral;
}

.picture {
    transition: 0.3s;
}

.picture:hover {
    color: rgb(255, 255, 137);
}

.about {
    transition: 0.3s;
}

.about:hover {
    color:rgb(43, 226, 165);
}

.name {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(100, 100, 100);
    padding: 85px;
    height: 25px;
    width: 300%;
    margin-top: -55px;
    margin-left: -30px;
    margin-right: 20px;
}

.link {
    display: flex;
    margin: 0 auto;
}

.jobtitle {
    color:rgb(104, 230, 125);
    line-height: 0px;
    font-size: 20px;
}


.spider {
    width: 100px;
    display: flex;
    float: left;
    margin-left: 275px;
    margin-top: -120px;
    animation-name: spidey;
    animation-duration: 2s;
    transform: scaleX(-1);
}
@keyframes spidey {
    0%   {margin-left:275px; margin-top:-240px;}
    100% {margin-left:275px; margin-top:-120px;}
  }
.contactpage {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-left: 20px;
}
.aboutpage {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 20px;
}

.worksText {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.menulist{
    /* margin-left: -440px; */
    margin-left: 50px;
    position: fixed;
    margin-top: 160px;
    list-style: none;
}

@media screen and (max-width: 540px) {
    .name {
      width: 375px;
      height: 25px;
      font-size: 25px;
      margin-left: -50px;
      margin-top: -50px;
    }
    .top-page {
        display: block;
        margin-left: 0 auto;
    }
    .menulist {
        /* margin-left: -50px; */
        margin-left: 50px;
        position: fixed;
        margin-top: 40px;
    }
  }
