body {
    background-color: black;
    background-color: rgb(46, 27, 59);
    background-image: url("/images/cobweb_blue.png");
    font-family: 'Henny Penny', cursive;
}

.selfdescription {
    font-family: 'Henny Penny', cursive;
    color: greenyellow;
    margin-left: 40px;
    width: 250px;
}

a {
    font-family: 'Henny Penny', cursive;
    color: gray;
    text-decoration: none;
}

.worklist {
    color: white;
    font-family: 'Henny Penny', cursive;
}

.footnotes {
    font-size: 14px;
    color: rgb(24, 253, 112);
}

h1 {
    color: rgb(255, 255, 255);
}

h2 {
    color: rgb(153, 153, 153);  
}

.homeLink {
    color: red;
    font-size: 20px;
    padding: 20px;
    display: flex;
    font-family: 'Henny Penny', cursive;
}

.mondrianLink {
    font-size: 30px;
    padding: 20px;
    margin-top: 10px;
    display: flex;
    font-family: 'Henny Penny', cursive;
}

.top-page {
    display: flex;
    color: white;
    height: 100px;
    display: flex;
}

.works {
    transition: 0.3s;
}

.works:hover {
    color: rgb(104, 230, 125);
}

.contact {
    transition: 0.3s;
}

.contact:hover {
    color: rgb(104, 230, 125);
}

.picture {
    transition: 0.3s;
}

.picture:hover {
    color: rgb(104, 230, 125);
}

.about {
    transition: 0.3s;
    font-family: 'Henny Penny', cursive;
}

.about:hover {
    color:rgb(104, 230, 125);
    
}

.name {
    font-family: 'Henny Penny', cursive;
    background-color: rgb(100, 100, 100);
    padding: 85px;
    height: 25px;
    width: 300%;
    margin-top: -55px;
    margin-left: -30px;
    margin-right: 20px;
}

.link {
    display: flex;
    margin: 0 auto;
}

.jobtitle {
    color:rgb(104, 230, 125);
    line-height: 0px;
    font-size: 20px;
}


.spider {
    width: 65px;
    display: flex;
    float: left;
    margin-left: 275px;
    margin-top: -190px;
    animation-name: spidey;
    animation-duration: 1s;
    transform: scaleX(-1);
}
.selfportrait {
    height: 316px;
    margin-top: 154px;
    margin-left: -275px;
}

.logos {
    height: 90px;
    margin-top: 15px;
    margin-left: -87px;
}

@keyframes spidey {
    0%   {margin-left:275px; margin-top:-240px;}
    100% {margin-left:275px; margin-top:-190px;}
  }

.worksText {
    font-family: font-family: 'Henny Penny', cursive;
}

.menulist{
    /* margin-left: -440px; */
    margin-left: 50px;
    position: fixed;
    margin-top: 160px;
    list-style: none;
}

@media screen and (max-width: 540px) {
    .name {
      width: 375px;
      height: 25px;
      font-size: 25px;
      margin-left: -50px;
      margin-top: -50px;
    }
    .top-page {
        display: block;
        margin-left: 0 auto;
    }
    .menulist {
        /* margin-left: -50px; */
        margin-left: 50px;
        position: relative;
        margin-top: 40px;
    }
    .selfportrait {
        margin-left: 80px;
        margin-top: 200px;
  }

  .selfdescription {
    margin-top: 77px;
}
  .logos {
    display: none;
}
}